<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ERPSYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ERPSYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ERPSYS.Properties.Settings.NEWERPConnectionString"
            connectionString="Data Source=KHALED-PC;Initial Catalog=TestMedical;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ERPSYS.Properties.Settings>
            <setting name="connstr" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NewERP_Data.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True</value>
            </setting>
        </ERPSYS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <ERPSYS.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>Data Source=KHALED-PC\SQLEXPRESS;Initial Catalog=MathalyMedical2022;Persist Security Info=True;User ID=sa;Password=sa</value>
            </setting>
        </ERPSYS.Properties.Settings>
    </applicationSettings>
</configuration>
