<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERPSYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ERPSYS.Properties.Settings.NEWERPConnectionString" connectionString="Data Source=KHALED;Initial Catalog=NEWERP1;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ERPSYS.Properties.Settings>
      <setting name="connstr" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NewERP_Data.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True</value>
      </setting>
    </ERPSYS.Properties.Settings>
  </userSettings>
</configuration>